<div class="register-box">
  <div class="register-logo">
    <a [routerLink]="['/']"><b>Register</b></a>
  </div>

  <div class="register-box-body theme-black">
    <p class="login-box-msg">Enter your details to register.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>


      <div class="row">
        <div class="col-md-7">
          <div class="form-group has-feedback"
            [ngClass]="fields.fullName.errors && !fields.fullName.pristine ? 'has-error' : ''">
            <input type="text" formControlName="fullName" class="form-control" placeholder="Enter Full Name">
            <div *ngIf="fields.fullName.errors && !fields.fullName.pristine" class="help-block">
              <div [hidden]="!fields.fullName.errors.required">Name is required.</div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group has-feedback"
            [ngClass]="fields.phone.errors && !fields.phone.pristine || phoneUsed || invalidPhone ? 'has-error' : ''">
            <input (keypress)="numberOnly($event)" (keyup)="isPhoneUsed(phone.value) || isValidPhone(phone.value)"
              type="text" formControlName="phone" placeholder="Enter Phone as 03331234567" name="phone"
              class="form-control" id="phone" #phone>
            <div *ngIf="fields.phone.errors && !fields.phone.pristine" class="help-block">
              <div [hidden]="!fields.phone.errors.required">Phone is required.</div>
              <div [hidden]="!fields.phone.errors.maxlength">Phone number not more than 11 numbers.</div>
              <div [hidden]="!fields.phone.errors.minlength">Phone number not less than 11 numbers.</div>
            </div>
            <div *ngIf="phoneUsed || invalidPhone" class="help-block">
              <div *ngIf="invalidPhone">Phone should start with 0.</div>
              <div *ngIf="phoneUsed">Phone is already used.</div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-feedback"
            [ngClass]="fields.email.errors && !fields.email.pristine || emailUsed ? 'has-error' : ''">
            <input (keyup)="isEmailUsed(email.value)" type="email" formControlName="email"
              placeholder="Enter Email Address" name="email" class="form-control" id="email" #email>
            <div *ngIf="fields.email.errors && !fields.email.pristine" class="help-block">
              <div [hidden]="!fields.email.errors.required">Email is required.</div>
              <div [hidden]="!fields.email.errors.email">Email must be a valid email.</div>
            </div>
            <div *ngIf="emailUsed" class="help-block">
              <div *ngIf="emailUsed">Email is already used.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-feedback"
            [ngClass]="fields.password.errors && !fields.password.pristine ? 'has-error' : ''">
            <input type="password" formControlName="password" placeholder="Enter Password" name="password"
              class="form-control" id="password">
            <div *ngIf="fields.password.errors && !fields.password.pristine" class="help-block">
              <div [hidden]="!fields.password.errors.required">Password is required.</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group has-feedback"
            [ngClass]="fields.confirmPassword.errors && !fields.confirmPassword.pristine ? 'has-error' : ''">
            <input type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password"
              name="confirmPassword" class="form-control" id="confirmPassword">
            <div *ngIf="fields.confirmPassword.errors && !fields.confirmPassword.pristine" class="help-block">
              <div [hidden]="!fields.confirmPassword.errors.required">Confirm Password is required.</div>
              <div *ngIf="fields.confirmPassword.pristine || fields.confirmPassword.errors?.MatchPassword">Password
                does not match</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="checkbox">
            <label>
              <input formControlName="agreed" type="checkbox" />
              I agree to the <a href="#" data-toggle="modal" data-target="#modal-terms-and-conditions">terms and
                conditions</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-danger btn-block btn-flat" [disabled]="registerForm.invalid">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <br />
    <a [routerLink]="['/login']" class="text-center">Login</a>
    <br />
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<div class="modal fade" id="modal-terms-and-conditions">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div> -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#license-agreement" data-toggle="tab">License Agreement</a></li>
                <li><a href="#terms-of-service" data-toggle="tab">Terms of Service</a></li>
                <li><a href="#privacy-policy" data-toggle="tab">Privacy Policy</a></li>
                <li class="pull-right"><a href="#" data-dismiss="modal" class="text-muted"><i
                      class="fa fa-close"></i></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="license-agreement">
                  <!-- <b>Service</b> -->
                  <p>As product owner we have reserved the right to terminate the contract/license of a customer at
                    any point of time. </p>
                  <p>We have reserved the right to downgrade to basic package in case of payment shotfall.</p>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="terms-of-service">
                  <!-- <b>Service</b> -->
                  <p>We are offering cloud based business management services, wihch includes
                    all the necessary modules that helps any business owner to manage his/her
                    business business effeectively and proactively.</p>
                  <p>We are offering multiple packages i.e. ( Silver, Gold, Platinium or Diamond )
                    and our customers are free to choose, upgrade to or downgrade from any one of
                    the above mentioned packages </p>
                  <p>All the future community enhancements will be free and available to all valuable
                    customers without any charges. Furthermore it does not include the custom enhancements
                    requested by a client to fulfill its requirements.</p>
                  <p>All the beloved customers are liable to pay all the dues before the 10th of every month,
                    otherwise you will be automaatically downgraded to free version untill payment.</p>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="privacy-policy">
                  <!-- <b>Service</b> -->
                  <p>We collect and store your data on cloud just to enhance your user experience with
                    the system and to serve you in an efficient manner</p>
                  <p>We dont sell your data (Never ever)</p>
                  <p>We store your email address and phone number not for marketing purposes but just to
                    help you login or recover your account in case of any mishap.</p>
                  <p>We are using state of the art security technologies to make this system secure and reliable.</p>
                  <p>We use cutting edge encryption algorithms and data protection policies to secure our
                    customers precious data.</p>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-flat btn-block btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-block btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div> -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->